*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    box-sizing: border-box;
}
/* GERAL */
.whatsapp {
    position: fixed;
    right: 7px;
    bottom: 60px;
    width: 82px;
    height: 80px;
    border: none;
    box-shadow: 0 0 0 0 rgb(0 183 62 / 70%);
    border-radius: 50%;
    background-color: #00B73E;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation-duration: 1.25s;
    animation-timing-function: cubic-bezier(0.66, 0, 0, 1);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: pulse;
    z-index: 1;
    color: #fff;
}
.whatsapp i{
	color: #fff;
	font-size: 42px;
    background-color: #00B73E;
}
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 30px rgba(0, 183, 62, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 30px rgba(0, 183, 62, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 30px rgba(0, 183, 62, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 30px rgba(0, 183, 62, 0);}}/* End custom CSS */

body{
    background-color: #fff;
}
.call-action{
    padding: 20px 30px;
    background-color: rgb(32, 189, 50);
    color: #ffe;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 35px;
    text-shadow: 1px -1px 5px rgba(242, 242, 242, .1), -1px 1px 5px rgba(242, 242, 242, .1);
}
.call-action:active{
    transform: scale(1.1);
}
.section-button{
    display: flex;
    justify-content: center;
}
.conteiner{
    width: 960px;
    margin: auto;
}

/* HEADER */
.header{
    position: fixed;
    z-index: 99;
    padding: 10px 0;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(48, 48, 48, .9);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header div{
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.header div span{
    font-size:  1.3rem;
    color: #fff;
}
.header .logo{
    background-color: rgb(56, 182, 255);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.header .cor{
    font-size: 1.6rem;
    color: #ffe;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.header nav ul{
    list-style: none;
}
.header nav li, .header nav li a{
    display: inline;
    font-size: 1.2rem;
    color: #fee;
    margin: 0 10px;
    text-decoration: none;
}
.header nav li a:hover{
    color: rgb(56, 182, 255);
    transform: scale(1.2);
}
.header .home{
    color: rgb(56, 182, 255);
    font-size: 2rem;
}

/* EMBLEMAS */
.servicos-rjp{
    margin-top: 110px;
    text-align: center;
    margin-bottom: 30px;
}
.servicos-rjp h2{
    font-family: 'Comfortaa', cursive;
    font-size: 2.3rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 30px;
}

.secao-cards{
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 30px;
}
.list-card{
    width: 320px;
    height: 420px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(45, 45, 45, .8);
}
.list-card .img-card{
    width: 100%;
    height: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.text-card h3{
    text-align: center;
    color: #000;
    margin-bottom: 10px;
}
.text-card p{
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-indent: 25px;
    color: #333;
}
.saiba-mais{
    margin: auto;
    margin-top: 10px;
    display: block;
    width: 150px;
    padding: 10px 20px;
    background-color: rgb(70, 150, 255);
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    border-radius: 21px;
    box-shadow: 1px -1px 5px rgba(242, 242, 242, .1), -1px 1px 5px rgba(242, 242, 242, .1);
}
.saiba-mais:active{
    transform: scale(1.1);
}
/* DESTAQUES */
.destaques{
    width: 100%;
}

/* SERVICOS */
.servicos {
    padding: 20px;
    background-color: rgba(70, 150, 255, .2);
}
.servicos h2{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Comfortaa', cursive;
    font-size: 2.3rem;
    font-weight: bold;
    color: #000;
}
.videos-servicos{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.videos-servicos video{
    cursor: pointer;
    height: 450px;
    box-shadow: 1px -1px 5px rgba(30, 44, 53, .8), -1px 1px 5px rgba(30, 44, 53, .8);
}

/* DEPOIMENTOS */
.depoimentos{
    width: 90%;
    margin: auto;
}
.depoimentos h2{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 2.3rem;
    margin-top: 20px;
    font-weight: bold;
    color: #000;
}
.lista-imgs-depoimentos{
    display: flex;
    justify-content: space-evenly;
}
.img-depoimentos img{
    width: 280px;
    height: 480px;
    display: block;
    padding: 20px;
    cursor: pointer;
}

/* Modal */
.modal{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(45, 45, 45, .8);
    z-index: 900;
    padding: 20px;
}
#btn-fechar i{
    position: absolute;
    z-index: 991;
    cursor: pointer;
    color: rgba(255, 0, 0, 0.63);
    display: block;
    top: 35px;
    right: 50px;
    font-size: 30px;
    font-weight: bold;
}
#imagem-modal{
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 440px;
}

/* Modal  VIDEO*/
.modal-video{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(45, 45, 45, .8);
    z-index: 9999;
    padding: 20px;
}
#btn-fechar-video i{
    z-index: 9999;
    position: absolute;
    cursor: pointer;
    color: rgba(255, 0, 0, 0.63);
    display: block;
    top: 35px;
    right: 50px;
    font-size: 30px;
    font-weight: bold;
}
#video-modal{
    z-index: 9999;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 440px;
}


/* CONTATO */
.contato{
    background-color: rgba(70, 150, 255, .2);
}
.contato-layout{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.contato > h2{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 2.3rem;
    margin-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
    color: #000;
}
.info{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border: solid .7px rgba(30, 44, 53, .4);
    width: 400px;
    height: 400px;
    color: #111;
    background-color: #fef;
}
.info div h2{
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 5px;
}
.info div h3{
    font-size: 1.1rem;
    padding: 5px;
    font-weight: 400;
    color: #222;
}

/* COMO CHEGAR */
#map{
    width: 400px;
    height: 400px;
    background-color: grey; 
    box-shadow: 1px -1px 5px rgba(30, 44, 53, .8), -1px 1px 5px rgba(30, 44, 53, .8);
}


/* FAQ */
.faq{
    padding: 0 10px;
}
.faq h2{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 2.3rem;
    color: rgb(56, 182, 255);
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: #000;
}
.acordeon{
    display: inline-block;
    color: #111;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #5555;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.5s;
}
.acordeon i{
    color: rgb(56, 182, 255);
    font-size: .8rem;
}
.painel p{
    background-color: #eee;
    padding: 20px;
}
.painel{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    margin-bottom: 5px;
}
.selecionado{
    background-color: rgba(56, 182, 255, .4);
}

/* FOOTER */
.footer{
    float: left;
    width: 100%;
    margin-top: 30px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #181818;
}
.footer p, .footer span{
    font-weight: bold;
    text-align: center;
    color: #eee;
}

.footer-col{
	float: left;
	margin-bottom: 30px;
    padding: 20px;
}
.footer-col:first-child{
    margin-left: 4%;
    width: 54%;
    margin-right: 8%;
}
.footer-col:last-child{
    width: 34%;
}

.footer-col h1{
    color: #eee;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 10px;
}
.footer-col a, i{
	color: #eee;
    text-decoration: none;
}
.footer-col p{
	text-align: justify;
}

.footer ul{
    list-style: none;
}
.footer-col-social li{
	padding: 10px 0;
}

.footer-col-social .fab{
	font-size: 1.4rem;
	margin-right: 5px;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	border-radius: 5px;
}
.footer-col-social .fa-instagram{
    background: linear-gradient(to bottom, #515bd4, #8134af, #dd2a7ba9);
}
.footer-col-social .fa-whatsapp{
    background-color: #34af23;
}
.footer-col-social .fa-facebook{
    background-color: #3b5998;
}
.footer-autorais{
    clear: both;
	width: 100%;
	border-top: 1px solid #fff;
	padding-top: 20px;
	color: gray;
}

.menu-mobile{
    display: none;
}


/* BREAK POINTS */
@media (max-width: 600px) {
    *{
        pointer-events: auto;
        -webkit-appearance: none;
        touch-action: manipulation;
    }
    #btn-fechar i{
        color: rgb(255, 0, 0);
    }
    .conteiner{
        width: 100%;
        margin: auto;
        padding: 0;
    }

    .header{
        position: relative;
        background-color: rgb(56, 182, 255);
        padding: 0;
        padding-top: 10px;
        padding-bottom: 40px;
        flex-direction: column;
    }
    .header div{
        display: none;
    }
    .menu-mobile{
        display: block;
        width: 100%;
        height: auto;
        max-width: 350px;
        max-height: 150px;
    }
    .header nav ul{
        list-style: none;
        margin-top: 40px;
    }
    .header nav li, .header nav li a{
        display: inline;
        font-size: 1rem;
        font-weight: bold;
        color: #333;
        margin: 0px;
        text-decoration: none;
        padding: 0px 2px;
    }
    .header nav li a:hover{
        color: #fff;
    }
    .header nav li:first-child{
        display: none;
    }


    /*  */
    .servicos-rjp{
        margin: 0px;
    }
    .servicos-rjp h2{
        font-family: 'Comfortaa', cursive;
        font-size: 2.3rem;
        font-weight: bold;
        background-color: rgb(56, 182, 255);
        color: #fff;
        padding-bottom: 30px;
    }
    
    .secao-cards{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin: 0px;
       margin-bottom: 20px;
    }
    .list-card{
        margin: 0px;
        margin-bottom: 20px;
    }
    /*  */

    .servicos {
        background-color: #fff;
        padding: 0px;
        margin-top: 30px;
    }
    .servicos h2{
        padding: 15% 0px;
        font-size: 1.5rem;
        background-color: rgba(70, 150, 255);
        text-align: center;
        margin-bottom: 30px;
        font-family: 'Comfortaa', cursive;
        font-weight: bold;
        color: #fff;
    }
    .videos-servicos{
        flex-direction: column;
        align-items: center;
    }
    .videos-servicos video{
        margin-bottom: 10px;
        cursor: pointer;
        max-height: 400px;
        height: auto;
        box-shadow: 1px -1px 5px rgba(30, 44, 53, .8), -1px 1px 5px rgba(30, 44, 53, .8);
    }
    
    /* DEPOIMENTOS */
    .depoimentos{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .depoimentos h2{
        padding: 15% 0px;
        font-size: 1.5rem;
        text-align: center;
        font-family: 'Comfortaa', cursive;
        margin-top: 20px;
        font-weight: bold;
        color: #fff;
        background-color: rgba(70, 150, 255);
        margin-bottom: 30px;
    }
    .lista-imgs-depoimentos{
        display: block;
        margin: 0px;
        padding: 0px;
    }
    .img-depoimentos{
        width: 100%;
        margin: 0px;
        padding: 0px;
        font-size: 0px;
    }
    .img-depoimentos img{
        width: 90%;
        height: auto;
        max-width: 270px;
        max-height: 430px;
        display: block;
        padding: 0px;
        margin: 0px;
        cursor: pointer;
        margin: auto;
        margin-bottom: 30px;
    }

    /*  */

    .contato{
        min-height: 500px;
        background-color: #fff;
        padding: 0px;
        margin: 0px;
    }
    .contato-layout{
        display: block;
        padding: 0px;
        margin: 0px;
    }
    .contato > h2{
        padding: 15% 0px;
        font-size: 1.5rem;
        text-align: center;
        font-family: 'Comfortaa', cursive;
        margin-bottom: 20px;
        font-weight: bold;
        color: #fff;
        background-color: rgb(70, 150, 255);
    }
    .info{
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 0px;
        max-width: 400px;
        max-height: 400px;
        width: 90%;
        height: auto;
        color: #111;
        background-color: #fef;
        margin: auto;
        margin-bottom: 30px;
    }
    .info div h2{
        color: #000;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 5px;
    }
    .info div h3{
        font-size: 1.1rem;
        padding: 5px;
        font-weight: 400;
        color: #222;
    }
    
    /* COMO CHEGAR */
    #map{
        font-size: 0px;
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 60vh;
        background-color: grey; 
        box-shadow: none;
    }

    /* */

    .faq{
        padding: 0px;
    }
    .faq div{
        padding: 0px 10px;
    }
    .faq h2{
        padding: 15% 0px;
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        font-family: 'Comfortaa', cursive;
        background-color: rgb(70, 150, 255);
        margin-bottom: 20px;
        margin-top: 0px;
        font-weight: bold;
        color: #fff;
    }
   
    /*  */

    .footer{
        float: left;
        width: 100%;
        margin-top: 30px;
        background-color: #181818;
    }
    .footer p, .footer span{
        font-weight: bold;
        text-align: center;
        color: #eee;
    }
    
    .footer-col{
        float: left;
        margin-bottom: 20px;
        padding: 20px;
    }
    .footer-col:first-child{
        margin-left: 0px;
        width: 100%;
        margin-right: 0px;
    }
    .footer-col:last-child{
        width: 100%;
    }
    
    .footer-col h1{
        color: #eee;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .footer-col a, i{
        color: #eee;
        text-decoration: none;
    }
    
    .footer-col p{
        text-align: justify;
    }
    
    .footer ul{
        list-style: none;
    }
    .footer-col-social li{
        padding: 10px 0;
    }
    
    .footer-col-social .fab{
        font-size: 1.4rem;
        margin-right: 5px;
        height: 30px;
        line-height: 30px;
        width: 30px;
        text-align: center;
        border-radius: 5px;
    }
    .footer-col-social .fa-instagram{
        background: linear-gradient(to bottom, #515bd4, #8134af, #dd2a7ba9);
    }
    .footer-col-social .fa-whatsapp{
        background-color: #34af23;
    }
    .footer-col-social .fa-facebook{
        background-color: #3b5998;
    }
    .footer-autorais{
        clear: both;
        width: 100%;
        border-top: 1px solid #fff;
        padding-top: 20px;
        color: gray;
    }
}
@media (max-width: 408px) {
    *{
        pointer-events: auto;
        -webkit-appearance: none;
        touch-action: manipulation;
    }
    header nav li, .header nav li a{
        font-size: .9rem;
        font-weight: 400;
    }
}